<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Formulário de Usuário - Jeton</title>
</head>
<body>

<div layout:fragment="conteudo">
    <div class="mb-4">
        <h2 class="h4 text-cremepe fw-bold">
            <i class="fa-solid fa-user-pen me-2"></i>
            <span th:text="${usuario.idUsuarioPessoa == null ? 'Novo Usuário' : 'Editar Usuário'}">Título</span>
        </h2>
    </div>

    <div class="card shadow-sm">
        <div class="card-body p-4">
            <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post">
                <input type="hidden" th:field="*{idUsuarioPessoa}">
                <input type="hidden" th:field="*{pessoa.idPessoa}"> <div class="row g-3">
                    <div class="col-md-8">
                        <label class="form-label fw-bold">Nome Completo</label>
                        <input type="text" class="form-control" th:field="*{pessoa.nome}" required>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label fw-bold">CPF</label>
                        <input type="text" class="form-control" th:field="*{pessoa.cpf}" placeholder="Apenas números" required>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label fw-bold">E-mail Institucional</label>
                        <input type="email" class="form-control" th:field="*{pessoa.email}" required>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label fw-bold">Senha</label>
                        <input type="password" class="form-control" th:field="*{senha}" 
                               th:placeholder="${usuario.idUsuarioPessoa == null ? 'Defina uma senha' : 'Deixe em branco para manter'}">
                    </div>

                    <div class="col-md-3">
                        <label class="form-label fw-bold">Situação</label>
                        <select class="form-select" th:field="*{inSituacao}">
                            <option value="A">Ativo</option>
                            <option value="I">Inativo</option>
                        </select>
                    </div>
                </div>

                <div class="mt-5 border-top pt-4 d-flex justify-content-end">
                    <a th:href="@{/usuarios}" class="btn btn-outline-secondary me-2">Cancelar</a>
                    <button type="submit" class="btn btn-cremepe px-4">Salvar Usuário</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>